body{
background-color: whitesmoke;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 10px;
border-color: lightgreen;
    text-decoration: none;
list-style-type: none;

}


.container{
text-align: center;
border-radius: 20px;
border: 5px;
  border-style: solid;
  border-color: lightgreen;
}
.bottle{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}
.cake{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}
.hello{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}
.lava{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}

.chicken{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}

.floor{
text-align: center;
border-radius: 20px;
border: 5px;
border-style: solid;
border-color: lightgreen;
}

li{
padding: 15px;
}
.avenue{
text-align: center;
border-radius: 20px;
border: 0px;
border-style: solid;
background-color: lightgreen;
height: 100px;
}
a{
text-align: center;
text-decoration: none;
}